/vendor
/node_modules
.env
.DS_Store
/public/js/lib/*
/public/packages/*
/public/vendor/*
/web
_ide_helper.php
composer.phar
auth.json
.idea/
/.idea/
*.iml
.idea
composer.lock
/public/uploads/*
/public/files/*
/public/temp/*