/vendor
/node_modules
.env
.DS_Store
/public/js/lib/angular
/public/js/lib/angular/*
/public/js/lib/bootstrap
/public/js/lib/bootstrap/*
/public/js/lib/bootstrap-datepicker
/public/js/lib/bootstrap-datepicker/*
/public/js/lib/bootstrap-fileinput
/public/js/lib/bootstrap-fileinput/*
/public/js/lib/bootstrap-social
/public/js/lib/bootstrap-social/*
/public/js/lib/datatables
/public/js/lib/datatables/*
/public/js/lib/datatables-bootstrap3
/public/js/lib/datatables-bootstrap3/*
/public/js/lib/datatables-plugins
/public/js/lib/datatables-plugins/*
/public/js/lib/datatables-responsive
/public/js/lib/datatables-responsive/*
/public/js/lib/dropzone
/public/js/lib/dropzone/*
/public/js/lib/font-awesome
/public/js/lib/font-awesome/*
/public/js/lib/fontawesome
/public/js/lib/fontawesome/*
/public/js/lib/html5shiv
/public/js/lib/html5shiv/*
/public/js/lib/jquery
/public/js/lib/jquery/*
/public/js/lib/metisMenu
/public/js/lib/metisMenu/*
/public/js/lib/mocha
/public/js/lib/mocha/*
/public/js/lib/morris.js
/public/js/lib/morris.js/*
/public/js/lib/raphael
/public/js/lib/raphael/*
/public/js/lib/remarkable-bootstrap-notify
/public/js/lib/remarkable-bootstrap-notify/*
/public/js/lib/responsejs
/public/js/lib/responsejs/*
/public/js/lib/select2-dist
/public/js/lib/select2-dist/*
/public/js/lib/select2-dist-louis
/public/js/lib/select2-dist-louis/*
/public/js/lib/select2-dist-louis_temp
/public/js/lib/select2-dist-louis_temp/*
/public/js/lib/jQuery-Mask-Plugin-master
/public/js/lib/jQuery-Mask-Plugin-master/*
/public/js/lib/tinymce
/public/js/lib/tinymce/*
/public/js/lib/starrr
/public/js/lib/starrr/*
/public/packages/*
/public/js/lib/bootstrap-star-rating
/public/js/lib/bootstrap-star-rating/*
/web
_ide_helper.php
composer.phar
auth.json
=======
.idea/
/.idea/
*.iml
.idea
composer.lock
/public/uploads/*
/public/files/*