/*/////////////////////////////////////////////////////////////////////
 // 
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 // 
 // ----------------------------------------------------
 // 
 // Remove unused code for better performances
 // 
 // ----------------------------------------------------
 // 
 // @see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 // 
 // @note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //   background: #ff0000;
 // }
 // 
 /////////////////////////////////////////////////////////////////////*/
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
#navigation {
  /* 1. Navigation wrapper */
}
#highlighted {
  /* 2. Highlighted (below header) wrapper */
}
#content {
  /* 3. Content wrapper */
}
#content-below {
  /* 4. Content Below wrapper */
}
#footer {
  /* 5. Footer wrapper */
}
/*
 * --------------------------------------------------
 * 2. Colours
 *-------------------------------------------------- 
 */
/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 768px) {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 992px) {
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */
}
/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */


/*
  Add by Admin
  License: GNU General Public License v2.0
  License URI: license.txt
*/

@font-face {
font-family: "Thai Sans Neue Fixed";
  src: url("../fonts/macstroke/ThaiSansNeue/extralight.eot");
}

@font-face {
font-family: "Thai Sans Neue Fixed";
  src:  url("../fonts/macstroke/ThaiSansNeue/light.woff") format("woff"),
    url("../fonts/macstroke/ThaiSansNeue/light.svg#ThaiSansNeue-Light") format("svg"),
    url("../fonts/macstroke/ThaiSansNeue/light.ttf") format("truetype");
}

/*@font-face {
font-family: "Roboto Light";
  src:  url("../fonts/macstroke/Light.eot");
}*/

@font-face {
font-family: "Roboto Light";
  src:  url("../fonts/macstroke/Light.woff") format("woff"),
    url("../fonts/macstroke/Light.ttf") format("truetype");
}

@font-face {
font-family: "Roboto Regular";
  src: url("../fonts/macstroke/Regular.eot");
}

@font-face {
font-family: "Roboto Regular";
  src:  url("../fonts/macstroke/Regular.woff") format("woff"),
    url("../fonts/macstroke/Regular.ttf") format("truetype");
}


/*------------------------- Google fonts ----------------------*/

@font-face {
    font-family: 'Calligraffitti';
    font-style: normal;
    font-weight: 400;
    src: local('Calligraffitti'), local('Calligraffitti-Regular'),
    url("../fonts/gfonts/vLVN2Y-z65rVu1R7lWdvyFsJabEw4YBLEUaE5wXPU60.woff2") format('woff2'),
    url("../fonts/gfonts/vLVN2Y-z65rVu1R7lWdvyCsProE6K2albZZcEbhKl38.woff") format('woff');
}

@font-face {
    font-family: 'Rambla';
    font-style: normal;
    font-weight: 400;
    src: local('Rambla'), local('Rambla-Regular'),
    url("../fonts/gfonts/_dOruQeaMX8CyCptDfrBKuvvDin1pK8aKteLpeZ5c0A.woff2") format('woff2'),
    url("../fonts/gfonts/4oKK3Z-EimNu4ISiv21vMuvvDin1pK8aKteLpeZ5c0A.woff") format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url("../fonts/gfonts/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2") format('woff2'),
    url("../fonts/gfonts/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff") format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'),
    url("../fonts/gfonts/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2") format('woff2'),
    url("../fonts/gfonts/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff") format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url("../fonts/gfonts/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2") format('woff2'),
    url("../fonts/gfonts/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff") format('woff');
}

/*-------------------------------------------------------------*/

body,h1, h2, h3, h4, h5, h6, h7,
html,a {
  font-family: "Helvetica Neue", "Roboto Light", "Sukhumvit Set", "Thai Sans Neue Fixed" !important;
}

h1 {
    font-size: 2em;
    font-weight: 300;
}

h2 {
    font-size: 1.84em;
    font-weight: 300;
}

h3 {
    font-size: 1.62em;
    font-weight: 300;
}

h4 {
    font-size: 1.4em;
    font-weight: 300;
}

h5 {
    font-size: 1.31em;
}

h6 {
    font-size: 1.12em;
}

p {
    margin: 1em 4px;
}

#owl-demo .item img{
    display: block;
    /*width: 1200px;*/
    width: 100%;
    /*height: auto;*/
    height: 300px;
}

.short { width: 300px; }